div.project-outer {
    flex: auto;
    background-color: gray;
    padding: 10px;
}

div.project-top {
    background-color: red;
    flex-direction: column;
    align-content: center;
    align-items: center;
}