/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* STYLESETS */

html {
    scroll-behavior: smooth;
}

button.cta {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: white;
    border-color: rgb(218, 218, 218);
    border-style: solid;
    border-radius: 1em;
    font-size: 1.5em;
    font-family: "Quicksand", sans-serif;
}

a.hide-link {
    color: black;
    text-decoration: none;
}

project-title,
h0,
h2 {
    font-family: "Bebas Neue", sans-serif;
}

project-title {
    font-size: 3rem;
}

h0 {
    font-size: 15vw;
}

h2 {
    font-size: 5rem;
}

body {
    margin: 0;
}

div.project-holder,
div.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.landing {
    height: 100vh;
    background-color: rgb(219, 46, 46);
    color: white;
}

div.project-outer {
    background-color: rgb(218, 218, 218);
    padding: 10px;
    margin-bottom: 2rem;
    align-content: center;
    max-width: 50rem;
    width: 90%;
    padding: 2rem;
}

div.project-top {
    flex-direction: column;
    align-content: center;
    align-items: center;
}

div.project-image {
    background-size: 50rem;
    min-height: 30rem;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2rem;
}

div.project-middle {
    font-size: 1.5rem;
}

div.project-middle,
platform,
date {
    font-family: "Quicksand", sans-serif;
}

date {
    text-align: end;
}

div.project-bottom {
    display: flex;
    justify-content: space-between;
}