/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* STYLESETS */
project-title,
h1 {
    font-family: "Bebas Neue", sans-serif;
}

project-title {
    font-size: 3rem;
}

h1 {
    font-size: 5rem;
}

div.project-holder {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.project-outer {
    /* flex: auto; */
    background-color: rgb(218, 218, 218);
    padding: 10px;
    margin-top: 2rem;
    align-content: center;
    max-width: 50rem;
    width: 90%;
    padding: 2rem;
}

div.project-top {
    /* background-color: red; */
    flex-direction: column;
    align-content: center;
    align-items: center;
}

div.project-image {
    background-size: 50rem;
    min-height: 30rem;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2rem;
}

div.project-middle {
    font-size: 1.5rem;
}

div.project-middle,
platform,
date {
    font-family: "Quicksand", sans-serif;
}

date {
    text-align: end;
}

div.project-bottom {
    display: flex;
    justify-content: space-between;
}